body{
    background-color:#dc8; /* Color de fondo */
    font-size:16px; /* Tamaño de texto*/
    margin:0;   /* margen*/
    padding:0;  /* relleno */
}

p, ul, ol, form, h7, h6, h5, h4, h3, h2, h1{
    margin:0;   /* margen*/
}

#header{
    background-color:#000000;
    height:60px; /* altura*/
    color: #ffffff; /*color del texto*/
}

#left{
    float:left; /* ubicacion izquierda*/
    width:200px; /*ancho*/
    background-color:#dc8;
    min-height:500px; /* for modern browsers */ /*altura minima*/
    height:auto !important; /* for modern browsers */
    height:500px; /* for IE5.x and IE6 */
 }

 #center {
    margin-left:200px;
    background-color:#eec;
    min-height:500px; /* for modern browsers */
    height:auto !important; /* for modern browsers */
    height:500px; /* for IE5.x and IE6 */
    padding: 10px;
  }

  #footer {
    clear:both; /* unir bloques*/
    background-color:#333;
    height:30px;
    color: white;
  }

  .txtpie{
      font-size: 10px; /* tamaño de letra*/
      font-family: arial; /* tipo de letra*/
      font-weight: bold; /* negrita */
  }

  .txtpie_iz{
      padding-left: 5px; /*relleno izq*/
      float: left; /*flotante a la izquierda*/
  }

  .txtpie_de{
      padding-right: 5px; /*relleno der*/
      float: right; /*flotante a la derecho*/
      text-align: right; /* alineamiento derecho*/
  }

  /*Estilo para las tablas*/

.tabla1{
    border: 1px solid black;
}

.tabla1 thead{
    background-color: black;
    font-family: arial;
    color: white;
}

.tabla1 tbody{
    background-color: #eeeeee;
    font-family: arial;
    font-size: 12px;
}

.tabla1 tfoot{
    background-color: #bbdd00;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
}

.tabla1 tfoot td{
    padding-right: 10px;
}

.form1{
    width: 400px;
    
}




